# Assignment-Buyer Ratio Q3

problem statement:
Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.
h0= male-female buyer rations are similar across regions.
ha= male-female buyer rations are different across regions.

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
data=pd.read_csv('C:/Users/hp/Desktop/DATA SCIENCE COURSE/ASSIGNMENT/ASSIGNMENT 3/BuyerRatio.csv')

In [4]:
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [20]:
data1=data.iloc[:,1:5]
data1

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [21]:
data1.values

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]], dtype=int64)

In [22]:
val=stats.chi2_contingency(data1)
val

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

[stats.chi2_contingency] This function computes the chi-square statistic and p-value for the hypothesis test of independence of the observed frequencies in the contingency table [1] observed. The expected frequencies are computed based on the marginal sums under the assumption of independence

## as p valvue found greater than significance level we accept the null hypothesis
## male-female buyer rations are similar across regions.